.shop-quantity {
  display: flex;
  align-items: center;
  border: 1px solid var(--shop-gray-300);
  border-radius: var(--shop-border-radius);
  overflow: hidden;

  &__btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--shop-color-base-100);
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: var(--shop-gray-700);
    transition: var(--shop-transition);

    &:hover:not(:disabled) {
      background-color: var(--shop-gray-100);
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &:not(:last-child) {
      border-right: 1px solid var(--shop-gray-300);
    }
  }

  &__input {
    width: 60px;
    height: 40px;
    padding: 0 var(--shop-spacing-sm);
    text-align: center;
    border: none;
    font-size: var(--shop-font-size-base);
    color: var(--shop-gray-900);
    background-color: var(--shop-color-base-100);

    &:focus {
      outline: none;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }
}
