.ec-select {
  width: 100%;
  padding: 10px 32px 10px 14px;
  font-size: var(--ec-font-size-base);
  font-family: var(--ec-font-family);
  color: var(--ec-color-base-content);
  background-color: var(--ec-color-base-100);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23666' d='m12 13.171l4.95-4.95l1.414 1.415L12 16L5.636 9.636L7.05 8.222z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1.2em;
  border: 1px solid var(--ec-gray-300);
  border-radius: var(--ec-border-radius);
  cursor: pointer;
  transition: var(--ec-transition);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
    border-color: var(--ec-color-primary);
    box-shadow: 0 0 0 3px hsla(0, 0%, 9%, 0.1);
  }

  &:disabled {
    background-color: var(--ec-gray-100);
    cursor: not-allowed;
    opacity: 0.6;
  }
}
